nav span  {
  font-family: 'Bungee' , sans-serif;
}

nav {
  height: 120px;
  width:100%;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  top: 0;
}
 
.new-tweet-icon {
  display: flex;
  flex-direction: column;
}

nav p{
  font-size: 18px;
  font-weight: normal;
}

.fa-angle-double-down {
  align-self: center;
    color: red;
}
.fa-angle-double-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
.fa-angle-double-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}